<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - Reality jinak</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Reality jinak", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("O nás", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Služby pro prodávající", "ServicesSellers", "Home")</li>
                        <li>@Html.ActionLink("Služby pro kupující", "ServicesBuyers", "Home")</li>
                        <li>@Html.ActionLink("Nabízíme/hledáme", "Offers", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 text-left">
                            <img src="~/Content/Pictures/RealityJinakLogo_64.png" alt="Reality jinak s.r.o.">
                        </div>
                        <div class="col-md-3 text-right">
                            &copy; Created by<br />Lebsoft
                        </div>
                        <div class="col-md-3 text-left">
                            <img src="~/Content/Pictures/LebsoftLogo_64.png" alt="Lebsoft s.r.o.">
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
